@import "../../Services/variables.scss";
@import "../../Services/global-styles.scss";

.aboutUsDesktopContainer {
  display: flex;
  background-color: #fafafa;
  padding: 60px;
  padding-top: 10px;
  margin-top: 50px;
  @media (max-width: 768px) {
    display: none;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 917px;
    height: 449px;
    align-items: flex-start;

    .titleAboutUs {
      font-family:$font-family;
      font-weight: 200;
      font-size: 30px;
      line-height: 35px;
      letter-spacing: 2.14px;
    }

    .textAboutUs {
      width: 569px;
      margin-top: -18px;
      margin-left: 20px;
      font-family:$font-family;
      font-weight: 200;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 2.14px;
      margin-left: 0;
    }
    .iconContainer {
      display: flex;
      gap: 24px;
      .icon {
        width: 150px;
      }
    }
  }
  .logoContainer {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: flex-end;
    .logo {
      width: 178px;
      height: 166px;
    }
  }
}
