// Actions.scss
@import "../../../Services/global-styles.scss";
@import "../../../Services/variables.scss";

.actions {
  @include centerElement;
  gap: 8px;
  @media (min-width: 768px) {  
  gap: 10px;
  }
}
.iconUser{
  padding-left: 9px;
  @media (min-width: 768px) {  
  padding-left: 19px;
}
}

.hiddingFromMobile {
  @media (max-width: 768px) {
    display: none;
  }

  .hiddingFromDesktop {
    @media (max-width: 768px) {
      display: none;
    }
  }
}
