// Actions.scss
@import "../../../Services/global-styles.scss";

.actions {
  @include centerElement;
  gap: 14px;
  flex-shrink: 0;
  max-width: 60%;
  justify-content: flex-end;
  margin-right: 30px;
}
