.restaurantCard {
  width: 100%;
  background-color: #f9f4ea;
  display: flex;
  flex-direction: column;
  padding-right: 0;
  @media (min-width: 768px) {
    gap:24px;
    align-items: center;


  }

  .restaurant-image {
    height: 200px;
    width: 100px;
    width: 100%;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 10px;
    align-items: center;



    .restaurant-name {
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 2.67px;
      color: black;
      @media (min-width: 768px) {
        font-size: 40x;
        line-height: 47px;
      }
    }

    .chef-name {
      font-family: Helvetica, sans-serif;
      font-weight: 200;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 1.97px;
      margin-bottom: 10px;
      color: black;
    }

    .price-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 10px;

      .line {
        width: 240px;
        margin-left: 14px;
      }
    }
    .additionalImages{
      display: flex;
      flex-direction: row;
   }
  }
  
}
