@import "../../services/global-styles.scss";
@import "../../Services/variables.scss";

.iconsContainer {
  @include centerElement;
  flex-direction: column;
  background-color: #fafafa;
  @media (min-width: 768px) {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .title {
    font-family: $font-family;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 1.25px;
    line-height: 35px;
    @media (min-width: 768px) {
      font-size: 30px;
    }
  }

  .ourIconContainer {
    @include centerElement;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
    }

    .iconVegitarian {
      @extend .icon;
      width: 46px;
      height: 36px;
      margin-bottom: 17px;
      margin-left: 20px;
    }

    .iconVegitarianBig {
      width: 77px;
      height: 60px;
      margin-left: 15px;
      @media (max-width: 768px) {
        display: none;
      }
    }

    .ourIcon {
      @media (min-width: 768px) {
        padding: 30px;
      }
      padding: 20px;

      .icon {
        @extend .icon;
        width: 46px;
        height: 36px;
        margin-bottom: 17px;
        @media (min-width: 768px) {
          display: none;
        }
      }

      .iconBig {
        width: 77px;
        height: 60px;
        @media (max-width: 768px) {
          display: none;
        }
      }

      .label {
        font-family: $font-family;
        font-weight: 200;
        font-size: 18px;
        letter-spacing: 1.97px;
        @media (min-width: 768px) {
          font-size: 24px;
        }
      }
    }
  }
}
