@import "../../services/global-styles.scss";

.iconsContainer {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  align-items: center;

  .title {
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 1.25px;
    line-height: 35px;
  }

  .ourIconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .iconVegitarian
    {
      @extend .icon;
      width: 46px;
      height: 36px;
      margin-bottom: 17px;
      margin-left: 20px;
    }

    .ourIcon {
      padding: 20px;

      .icon {
        @extend .icon;
        width: 46px;
        height: 36px;
        margin-bottom: 17px;
      }

      .label {
        font-family: Helvetica, sans-serif;
        font-weight: 200;
        font-size: 18px;
        letter-spacing: 1.97px;
      }
    }
  }
}
