@import "../../../services/global-styles.scss";
@import "../../../Services/variables.scss";

.textButtonsContainer {
  padding-right: 30%;
  padding-left: 30px;

  .textButton {
    font-family: $font-family;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 1.92px;
    line-height: 21px;
    @extend .icon;
    color: black;
    text-decoration: none;
    padding: 20px 20px 7px 30px;

  }
  .active {
    border-bottom: $borderBottomOrange;
  }
}
