// AppHeader.scss
@import "../../Services/global-styles.scss";
@import "../../Services/variables.scss";

.app-header {
  @include centerElement;
  height: 46px;
  background-color: white;
  overflow-x: hidden;
  padding: 5px 5px 0px 5px;
  @media (max-width: 768px) {
    justify-content: space-between;
  }
  @media (min-width: 768px) {
    justify-content: center;
    height: 100%;
  }
}
