// RestaurantPage.scss
@import "../../Services/variables.scss";
@import "../../Services/global-styles.scss";

.container {
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    padding-left: 185px;
  }
  .restaurantImage {
    width: 100%;
    @media (min-width: 768px) {
      width: 86%;
      height: 425px;
    }
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    @media (min-width: 768px) {
      @include centerElement;
    }
    .restaurantName {
      font-family: $font-family;
      font-size: 18px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 2.67px;
      @media (min-width: 768px) {
        font-size: 56px;
        margin: 0px;
        padding-top: 50px;
        margin-bottom: 10px;
      }
    }

    .chefName {
      font-family: $font-family;
      font-size: 16px;
      font-weight: 200;
      line-height: 20px;
      letter-spacing: 1.97px;
      @media (min-width: 768px) {
        font-size: 32px;
        line-height: 32px;
      }
    }

    .openContainer {
      display: flex;
      flex-direction: row;
      align-items: center;

      .clockIcon {
        height: 17px;
        width: 17px;
        margin-right: 7px;
      }
      .open {
        font-family: $font-family;
        font-size: 18px;
        font-weight: 200;
        line-height: 20px;
        letter-spacing: 1.97px;
      }
    }
  }

  .restaurantTab {
    margin-left: 25px;
    @media (min-width: 768px) {
      @include centerElement;
      padding: 20px;
    }
  }
  .listContainer {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 20px;
    padding: 20px;
    @media (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }
  }

  .restaurantCard {
    @media (min-width: 768px) {
      width: 320px;
    }
  }
}
