@import "../../services/global-styles.scss";
@import "../../Services/variables.scss";

.appFooterContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  padding: $app-layout-x-padding;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  button {
    @extend .icon;
    font-family: $font-family;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 1.97px;
    line-height: 21px;
  }
}
